streamlit
langchain
langchain-community
langchain-google-genai
google-generativeai
python-dotenv
PyPDF2
pysqlite3-binary
chromadb
pandas
plotly
graphviz
duckduckgo-search
google-api-core
langchain-core
langchain-text-splitters
